/* Navigation.module.css */

.navWrapper {
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 100;
  padding: 18px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

.navControls {
  display: flex;
  align-items: center;
  gap: 12px;
  pointer-events: auto;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 8rem 6rem;
  display: flex;
  gap: 4rem;
  color: #342F89;
  pointer-events: none;
  z-index: 90;
}

.isOpen {
  pointer-events: all;
}

.menuBgSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.menuCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}

.menuColLinks {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.menuColLinks a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Boldonse', sans-serif;
  font-size: clamp(2rem, 4.5vw, 4.5rem);
  font-weight: 700;
  line-height: 1.35;
  width: max-content;
  display: block;
  overflow: visible;
  padding-right: 20px;
}

/* Add custom styles for the split chars */
.menuColLinks a :global(.char) {
  display: inline-block;
  will-change: transform, opacity;
}

.menuColInfo p {
  color: rgba(52, 47, 137, 0.6);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  margin-bottom: 1.5rem;
}

.menuColInfo h3 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 500;
  margin: 0;
}

.menuColInfo h6 {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  font-weight: 400;
  margin: 0;
  color: rgba(52, 47, 137, 0.7);
}

.menuColInfo h6:first-of-type {
  margin-top: 1.5rem;
}

.infoItem {
  will-change: transform, opacity;
}

@media (max-width: 1000px) {
  .menuOverlay {
      flex-direction: column-reverse;
      padding-top: 8rem;
      padding-left: 2rem;
      padding-right: 2rem;
  }
}
